body {
  background-color: floralwhite;
}

.wrapper {
  padding: 100px 0;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .container .banner {
  position: relative;
}
.wrapper .container .banner .row .proto {
  background-color: black;
  padding-top: 20px;
}
.wrapper .container .banner .row .proto h4 {
  color: floralwhite;
}
.wrapper .container .banner .row .proto .small {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 70px;
}
.wrapper .container .banner .row .proto .small small {
  opacity: 0.6;
  background-color: lightgrey;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.wrapper .container .banner .row header {
  height: 600px;
}
.wrapper .container .banner .row header nav .toggle {
  position: absolute;
  display: none;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: floralwhite;
  cursor: pointer;
}
.wrapper .container .banner .row header nav ul {
  z-index: 9999999999999;
  height: 70px;
  position: absolute;
  width: 100%;
  background-color: orange;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0;
}
.wrapper .container .banner .row header nav ul li a {
  font-weight: bolder;
  font-size: 0.8em;
  color: floralwhite;
  text-decoration: none;
}
.wrapper .container .banner .row header nav ul li .active::after {
  content: "";
  background-color: black;
  width: 40px;
  height: 2px;
  display: block;
  position: absolute;
}
.wrapper .container .banner .row header .img-banner .banner-img {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}
.wrapper .container .banner .banner-text {
  top: 65%;
  left: 15%;
  position: absolute;
  width: 50%;
}
.wrapper .container .banner .banner-text h3 {
  margin-bottom: 0;
  color: floralwhite;
}
.wrapper .container .banner .banner-text h1 {
  color: floralwhite;
}
.wrapper .container .banner .banner-text h5 {
  color: black;
  background-color: orange;
  padding: 10px 10px;
  width: 220px;
  font-weight: bolder;
}
.wrapper .container .content-sec .content {
  padding-bottom: 100px;
  background-color: floralwhite;
}
.wrapper .container .content-sec .content .top {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: lightgrey;
}
.wrapper .container .content-sec .content .top .row .left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.wrapper .container .content-sec .content .top .row .left .img {
  height: 450px;
  width: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.wrapper .container .content-sec .content .top .row .left .bg-color {
  background-color: black;
  height: 450px;
  width: 400px;
  position: absolute;
  top: 0;
  transform: translate(-40px, -40px);
}
.wrapper .container .content-sec .content .top .row .left .small-color {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 7px solid yellow;
  position: absolute;
  top: -18px;
  right: 80px;
  z-index: 1;
  border-radius: 50%;
}
.wrapper .container .content-sec .content .top .row .left .small-color::before {
  content: "";
  left: -30px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: yellow;
  border-radius: 50%;
}
.wrapper .container .content-sec .content .top .row .left .small {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-top: 20px;
}
.wrapper .container .content-sec .content .top .row .left .small small {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  display: block;
  background-color: grey;
}
.wrapper .container .content-sec .content .top .row .right {
  padding: 60px 40px 0 20px;
}
.wrapper .container .content-sec .content .top .row .right .top-top {
  position: relative;
}
.wrapper .container .content-sec .content .top .row .right .top-top .small {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  top: 5px;
  right: 100px;
}
.wrapper .container .content-sec .content .top .row .right .top-top .small small {
  background-color: grey;
  width: 3px;
  height: 3px;
  z-index: 1;
}
.wrapper .container .content-sec .content .mid {
  background-color: floralwhite;
  padding: 100px 150px;
  position: relative;
}
.wrapper .container .content-sec .content .mid .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper .container .content-sec .content .mid .head h1 {
  font-weight: bolder;
  width: 300px;
  margin-bottom: 0;
  position: relative;
}
.wrapper .container .content-sec .content .mid .head h1::after {
  content: "";
  background-color: transparent;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid yellow;
  right: 15px;
}
.wrapper .container .content-sec .content .mid .head h1::before {
  content: "";
  background-color: transparentize;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 23px;
  top: 7px;
  border: 5px solid yellow;
}
.wrapper .container .content-sec .content .mid .head .small {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  right: 0;
  z-index: 1;
  top: 50px;
}
.wrapper .container .content-sec .content .mid .head .small small {
  display: block;
  background-color: lightgrey;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.wrapper .container .content-sec .content .mid .head p {
  width: 200px;
  margin-top: -10px;
  font-weight: bolder;
  position: relative;
  z-index: 999999999999999;
}
.wrapper .container .content-sec .content .mid .head p::before {
  z-index: -1;
  display: block;
  content: "";
  background-color: yellow;
  width: 140px;
  height: 8px;
  position: absolute;
  top: 5px;
  right: 0;
}
.wrapper .container .content-sec .content .mid .head .nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.wrapper .container .content-sec .content .mid .head .nav li a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
.wrapper .container .content-sec .content .mid .head .nav li .active {
  position: relative;
}
.wrapper .container .content-sec .content .mid .head .nav li .active::after {
  content: "";
  background-color: orange;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 15px;
  bottom: 5px;
}
.wrapper .container .content-sec .content .mid .imgs .img {
  height: 300px;
  margin-bottom: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .container .content-sec .content .load-more {
  display: flex;
  justify-content: center;
}
.wrapper .container .content-sec .content .load-more a {
  padding: 10px 30px;
  border-radius: 20px;
  color: floralwhite;
  text-decoration: none;
  background-color: black;
}

@media screen and (max-width: 991px) {
  .wrapper .container .banner .row header nav .toggle {
    z-index: 9999999999;
    display: block;
    background-color: orange;
    font-weight: bolder;
    padding: 5px 5px;
  }
  .wrapper .container .banner .row header nav ul {
    display: none;
    height: auto;
    padding-bottom: 10px !important;
  }
  .wrapper .container .banner .row header nav ul li {
    padding: 0 0 !important;
    width: 100%;
  }
  .wrapper .container .banner .row header nav ul li a:hover {
    transition: all 0.3s;
    background-color: floralwhite;
    color: orange;
  }
  .wrapper .container .banner .row header nav ul .active {
    margin-top: 50px;
  }
  .wrapper .container .banner .row header nav ul .active::after {
    display: none !important;
  }
  .wrapper .container .content-sec .content .top .left {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .wrapper .container .content-sec .content .top .small-color {
    right: 30% !important;
  }
  .wrapper .container .content-sec .content .mid {
    padding: 150px 0 !important;
  }
}
@media screen and (max-width: 575px) {
  .wrapper .container .banner .proto .small {
    margin-left: 30px;
    margin-top: 40px !important;
    padding-bottom: 40px !important;
  }
}
@media screen and (max-width: 546px) {
  .wrapper .container {
    padding: 0 0 !important;
  }
  .wrapper .container .banner .proto .small {
    margin-top: 20px !important;
    padding-bottom: 40px;
    margin-left: 20px;
  }
  .wrapper .container .banner .banner-text {
    width: 300px;
    left: 5% !important;
  }
  .wrapper .container .banner .banner-text h3 {
    font-size: 1.2em;
  }
  .wrapper .container .banner .banner-text h1 {
    font-size: 1.5em;
  }
  .wrapper .container .banner .banner-text h5 {
    font-size: 1em;
    width: 200px;
  }
  .wrapper .container .content-sec .content .top .left .img {
    width: 330px !important;
  }
  .wrapper .container .content-sec .content .top .left .bg-color {
    transform: translate(-20px, -20px) !important;
    width: 325px !important;
  }
  .wrapper .container .content-sec .content .top .right .top-top .small {
    right: -40px !important;
  }
  .wrapper .container .content-sec .content .mid {
    padding: 100px 0 !important;
  }
  .wrapper .container .content-sec .content .mid .head ul {
    display: flex !important;
    flex-direction: column !important;
  }
  .wrapper .container .content-sec .content .mid .head ul li .active {
    z-index: 9;
  }
  .wrapper .container .content-sec .content .mid .head ul li .active::after {
    left: 50px !important;
  }
  .wrapper .container .content-sec .content .mid .head h1 {
    z-index: 9;
  }
  .wrapper .container .content-sec .content .mid .head .small {
    left: 10px !important;
  }
}
@media screen and (max-width: 280px) {
  .banner .banner-text {
    width: 90% !important;
  }

  .content-sec .content .top .left {
    overflow: hidden;
  }
  .content-sec .content .mid .head h1 {
    width: 100% !important;
  }
}